<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{#if showTests}}
    	<link rel="stylesheet" href="/vendor/mocha.com">
    {{/if}}
</head>
<body>
	<header><img src="/img/wins_korea.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
</body>
</html>